/* font-family: 'New Rocker', cursive;
font-family: 'Righteous', cursive; */
* {
    box-sizing: border-box;
}
main {
    background-image: url(../images/rock_bg_2.jpg);
}
.header {
    background: rgba(54, 65, 45, 0.411);
}
.head_title, .foot {
    color: rgb(53, 8, 8); 
}
h2 {
    text-align: center;    
    font-family: 'New Rocker', cursive;
    margin: 0px 0px;
}
li {
    display: inline;
}

.groups {
    margin: 0 auto;
    width: 890px;
    text-align: center;
    border: 20px;
}
ul {
    width: 100%;
    padding: 10px;
}
.group {
    text-align: center;
    vertical-align: top;
    width: calc(100%/4);
    display: inline-block;
    background-color: rgb(29, 23, 17);
    margin: 10px 30px;
}
a {
    color: rgb(105, 9, 9);
}
.foto {
    width: 150px;
    height: 150px;
}
p {
    text-align: center;
    color: rgb(202, 195, 195);
}
a {
    text-decoration: none;
}
ul {
    margin: 0 auto;
}
.cite {
    color: rgb(32, 58, 49);
    font-size: xx-large;
    margin: 0 0;
}
.footer {
    background: rgba(54, 65, 45, 0.411);
}
