<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<div id="wrapper">
		<header id="header">
			<div class="container">
				<div class="head-container">
					<div class="head_top">
						<div class="lang">
							<ul class="lang__list">
								<li>
									<input type="radio" name="sel-lang" id="ua" checked>
									<label for="ua">УК</label>
								</li>
								<li>
									<input type="radio" name="sel-lang" id="pl">
									<label for="pl">PL</label>
								</li>
								<li>
									<input type="radio" name="sel-lang" id="en">
									<label for="en">EN</label>
								</li>
							</ul>			
						</div>
						<div class="head-container__contact contact">
							<ul class="contact__list">
								<li>
									<div class="contact__adress">
										<a class="address-header" href="https://goo.gl/maps/W2czBUGXrnmwtKjG9" target="_blank"
											rel="noopener noreferrer nofollow">            
											Kyiv, Mechnikova str., 14/1
										</a>
									</div>
								</li>
								<li>
									<div class="contact__tell">
										<a href="tel:+30800211927">0800 211 927</a>
									</div>
								</li>
								<li>
									<div class="contact__social">
										<a href="https://www.facebook.com/Hillel.IT.School" target="_blank" rel="noopener noreferrer nofollow"
										>
										<span class="icon-facebook"></span>
										</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="head_bootom">
						<div class="logo_cont">
							<a href="./index.html"><img src="./images/logo.svg" alt="logo"></a>
						</div>
						<div class="navigation">
							<nav>
								<input id="opener" type="checkbox">
                            	<label class="opener" for="opener">
                                	<span></span>
                            	</label>
								<ul class="menu_head">
									<li><a href="#">about us</a></li>
									<li><a href="#">services</a></li>
									<li><a href="#">team</a></li>
									<li><a href="#">publications</a></li>
									<li><a href="#">contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main id="main">
			<div class="main-wraper main-wrapper_serv">
				<section class="services serv_page">
					<div class="container">
						<div class="services_cont">
							<a href="#">Services</a>
							<h2>What can we do better than others?</h2>
							<ul class="serv_card">
								<li>
									<img src="./images/icon_bag.svg" alt="icon_bag">
									<h3>IT and e-commerce</h3>
									<p>An endless stream of contracts, tax issues, labor relations, corporate papers - legal work distracts you from doing business. But there is not much work to do to hire an in-house lawyer.</p>
								</li>
								<li>
									<img src="./images/icon_portf.svg" alt="icon_portf">
									<h3>Comprehensive daily legal support</h3>
									<p>In addition, over time, the work will become the same type and uninteresting for a full-time lawyer. And we know very well how difficult it is to find a good candidate with experience in the field of information technology in Ukraine.</p>
								</li>
								<li>
									<img src="./images/icon_molecule.svg" alt="icon_molecule">
									<h3>Structuring corporate relationships</h3>
									<p>Instead of just providing legal services, we will hire a lawyer or a whole team that will fit into the daily life of your company.</p>
								</li>
								<li>
									<img src="./images/icon_hand.svg" alt="icon_hand">
									<h3>Building contractual relations</h3>
									<p>Once a week, or week after month, you have your own lawyer by your side. Anyone in the company can catch it at the coffee maker and just talk about current affairs instead of waiting for update status.</p>
								</li>
								<li>
									<img src="./images/icon_shield.svg" alt="icon_shield">
									<h3>Protection of business, intellectual property</h3>
									<p>And all the other time he will work on new diverse projects, so he will definitely not stop in professional development. One way or another, all Axon Partners will work for you instead of a corporate lawyer.</p>
								</li>
								<li>
									<img src="./images/icon_hammer.svg" alt="icon_hammer">
									<h3>Judicial representation</h3>
									<p>Is it a small, medium-sized company or a market leader? Local business or multinational company? Do you have your own legal department or not?</p>
								</li>
							</ul>
						</div> 
					</div>
				</section>
			</div>
			<section class="logo_tabl logo-tab_serv">
				<div class="container">
					<div class="tabl_logo">
						<h4>They already trust us</h4>
						<ul class="tabl_list">
							<li><img src="./images/hillel.png" alt="hillel"></li>
							<li><img src="./images/wannabiz.png" alt="wannabiz"></li>
							<li><img src="./images/tapgerine.png" alt="tapgerine"></li>
							<li><img src="./images/3dlook.png" alt="3dlook"></li>
							<li><img src="./images/orangear.png" alt="orangear"></li>
							<li><img src="./images/adtelligent.png" alt="adtelligent"></li>
							<li><img src="./images/clickky.png" alt="clickky"></li>
							<li><img src="./images/eco-leasing.png" alt="eco-leasing"></li>
							<li><img src="./images/ingratek.png" alt="ingratek"></li>
							<li><img src="./images/city-par.png" alt="city-par"></li>
							<li><img src="./images/artprint.png" alt="artprint"></li>
							<li><img src="./images/ultimatecard.png" alt="ultimatecard"></li>
						</ul>
					</div>
				</div>
			</section>
		</main>
		<footer id="footer">
			<div class="container">
				<div class="foot_cont">
					<div class="foot_link">
						<div class="foot_adress">
							<span>Kyiv, Mechnikova str., 14/1</span>
							<a class="address-foot" href="https://goo.gl/maps/W2czBUGXrnmwtKjG9" target="_blank"
								rel="noopener noreferrer nofollow">            
								On map
							</a>
						</div>
						<ul class="foot_contact__list">
							<li>
								<div class="foot-soc">
									<a href="https://www.facebook.com/Hillel.IT.School" target="_blank" rel="noopener noreferrer nofollow"
									>
									<span class="icon-facebook"></span>
									</a>
								</div>
							</li>
							<li>
								<div class="contact__tell tell_foot">
									<a href="tel:+30800211927">0800 211 927</a>
								</div>
							</li>
							<li>
								<div class="contact_mail">
									<a href="mailto:contact@forstudy.space" target="_blank" rel="noopener noreferrer nofollow"> contact@forstudy.space</a>
								</div>
							</li>
						</ul>

					</div>
					<div class="foot_span">
						<span>© 2021 HLEGAL Law company, LLC</span>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
	<script>
		var swiper = new Swiper(".mySwiper", {
		  spaceBetween: 30,
		  pagination: {
			el: ".swiper-pagination",
			clickable: true,
		  },
		});
	</script>
</body>
</html>