$prime-color-red: #F0145A;
$white: #fff;
$menu-gradient: #88507a;
$gray-text: #B3B3BA;
$gray-social: #E6E6F0;
$hover-lang: rgba(255, 255, 255, 0.2);
$hover-link: #24A3FF;
$hover-slide: #cc5f5f;
$text-grad: (228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$background-slide: #F5F5FA;
$span_border: #E6E6F0;
