/* @font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/') format('woff2'),
        url('../fonts/GraphikLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} */
/* css-змінні -------------------------------------------------------------------- */
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;

}
:root {
    --color_button: #FF6336;
    --color_text_basic: #000;
    --background-white: #fff;
    --background_card: #FFF8E4;
    --background_label: #FF9C7D;
    --background_label_light: #DABC98;
    --background_blue: #C9E8F2;
    --grey: #ccc;

}
/* Загальні стилі ------------------------------------------------------------- */
body {
    font-family: 'Graphik LCG', Arial, Helvetica, sans-serif;
    color: var(--color_text_basic);
}
.container {
    max-width: 1370px;
    margin: 0 auto;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    display: block;
    color: var(--color_text_basic);
    font-size: 15px;
    line-height: calc(20/15);
}
a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--background_label);
}
.btn {
    margin: 0;
    text-decoration: none;
    width: 160px;
    text-align: center;
    background-color: var(--color_button);
    color: var(--background-white);
    display: block;
    border: 1px solid transparent;
    padding: 18px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(20/16);
}
.btn_white {
    font-weight: 600;
    color: var(--color_text_basic);
    background-color: var(--background-white);
    border: 1px solid var(--color_text_basic);
    padding: 18px 0;
}
h1 {
    margin: 0;
    font-weight: 600;
    font-size: 65px;
    line-height: calc(70/65);
    margin-bottom: 52px;
}
h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.2;
}
h4 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
.page_wraper {
    width: 100%;
    overflow: hidden;
}
/* Header -------------------------------------------------------------------- */
#header {
    border-bottom: 1px solid var(--grey);
}
.head_container {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}

.logo_cont {
    display: flex;
    align-items: center;
}
.logo_box {
    margin: 3px 51px 0 16px;
}

.nav_box ul {
    display: flex;
}
.nav_box li {
    padding-right: 51px;
}
.btn_cont ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.btn_cont li {
    padding: 0 14px 0 0;
} 
.btn_small {
    font-weight: 600;
    width: 120px;
    padding: 13px 0;
    font-size: 16px;
    line-height: calc(20/16);

}
.white_small {
    padding: 11px 0;
    width: 118px;
}
.btn_white {
    color: var(--color_text_basic);
    background-color: var(--background-white);
    border: 1px solid var(--color_text_basic);
}

/* main------------------------------------------------------------------------- */
/* Lokalize image-------------------------------------------------------------------- */
.cont_1 {
    padding: 82px 0 172px 0;
    display: flex;
    align-items: center;
}
.info_cont {
    padding-top: 45px;
    padding-left: 40px;
    font-size: 25px;
    line-height: 1.4;
}
.p_info {
    width: 470px;
}
.p_info p {
    padding-bottom: 48px;
}
.p_info_small {
    font-size: 15px;
    line-height: calc(25/15);
}
.img_cont {
    margin: 0;
    padding: 62px 32px 0 0px;
}
.btn_main ul {
    display: flex;
}
.btn_main li {
    padding: 0 10px 26px 0;
}

/* 500+ companie ---------------------------------------------------------------- */

.brand_info {
    background-color: var(--background_label);
}
.companie_info {
    width: 720px;
    margin: 0 auto;
}
.companie_info h2 {
    margin-bottom: 82px;
}

.brand_logo ul {
    display: flex;
    justify-content: space-around;
}
.brand_cont {
    padding-top: 108px;
}
.brand_logo li {
    padding-bottom: 88px;
}
/* CARDS------------------------------------------------------------------------- */

.card_cont {
    padding-top: 90px;
    /* padding-bottom: 146px; */
}
.card_box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 243px;
    align-items: center;
}
.info_card {
    padding-right: 165px;
    margin-left: 40px;
    max-width: 48%;
    font-size: 20px;
    line-height: 1.5;
    color: var(--color_text_basic);
}
.info_card h2 {
    margin-top: 0;
    margin-bottom: 30px;
}
.info_card p {
    margin-bottom: 30px;
}
.info_card a {
    display: inline;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--color_text_basic);
    text-decoration: underline;
}

.card_cont :nth-child(2n) {
    flex-direction: row-reverse;
}
.card_cont>:last-child {
    margin-bottom: 98px;
}
.link_usual a {
    font-weight: 600;
    text-decoration: none;
}
.row_rev {
    padding: 23px 79px 0 97px;
}

/* devise ------------------------------------------------------------- */

.device_info {
    background-color: var(--background_card);
}
.dev_cont {
    padding-top: 120px;
    padding-bottom: 104px;
}

.device_title {
    text-align: center;
    margin-bottom: 79px;
}

.dev_card_box ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.dev_card li {
    max-width: 33%;
}
.device_card {
    font-size: 18px;
    line-height: calc(25/18);
    text-align: center;
    padding: 0 42px 74px;
}

.device_card h4 {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.device_card img {
    margin-bottom: 17px;
}

.device_card a {
    display: inline;
    font-size: 18px;
    line-height: calc(25/18);
    text-decoration: underline;
}
/* Team`sssss -------------------------------------------- */
.team_cont {
    padding: 155px 0 187px 0;
}
.team_title {
    text-align: center;
    margin-bottom: 75px;
}
.team_card_box ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.teams_card li {
    max-width: 32%;
    padding-left: 42px;
}
.team_card h4 {
    font-weight: 600;
    font-size: 30px;
    line-height: calc(40/30);
    margin-bottom: 32px;
}
.team_card {
    font-size: 20px;
    line-height: 1.5;
}
.team_card a {
    display: inline;
    text-decoration: underline;
    font-size: 20px;
    line-height: 1.5;
}
.team_img img {
    vertical-align: middle;
}
.team_img {
    height: 200px;
    margin-bottom: 50px;
}
.team_card p {
    padding-bottom: 27px;
}
/* BLOCKQUOte --------------------------------------------------------------- */

.citate_info {
    background-color: var(--background_blue);
}
.citate_cont {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 34px;
    padding-bottom: 101px;
}
.citate_box {
    padding-left: 40px;
    font-size: 15px;
    line-height: calc(25/15);
}

.citate_box blockquote {
    font-size: 30px;
    line-height: calc(40/30);
    margin-left: 0;
    margin-bottom: 23px;
}
.foto_box {
    padding: 19px 40px 0 0;
}
.citate_box span {
    font-family: 'Roboto';
    display: block;
    margin-bottom: 6px;
}
/* section pie--------------------------------------------------------- */

.soft_info {
    background-color: var(--background_label_light);
}
.soft_cont {
    display: flex;
    align-items: center;
    padding: 80px 0;
}
.soft_box_title {
    display: flex;
    align-items: center;
    max-width: 62%;
    border-right: 1px solid var(--color_text_basic);
    padding: 0 0 0 20px;
}
.soft_box_icon ul {
    display: flex;
    padding-left: 70px;
}
.soft_box_title h3 {
    font-weight: 600;
    font-size: 35px;
    line-height: calc(50/35);
    margin-left: 66px;
}
.soft_box_icon {
    font-size: 15px;
    line-height: calc(25/15);
    letter-spacing: 0.75px;
}
.star span {
    font-size: 20px;
    line-height: 1.2;
}
.icon_list>li {
    margin-right: 70px;
}
/* tooooolllllsss----------------------------------------- */

.tools_cont {
    text-align: center;
    font-size: 25px;
    line-height: 1.2;
    padding-top: 166px;
    padding-bottom: 160px;
    
}
.tools_title {
    padding: 0 320px;
    margin-bottom: 24px;
}
.tools_cont h2 {
    font-weight: 600;
    font-size: 65px;
    line-height: calc(75/65);
}
.btn_width {
    padding: 20px 16px;
    width: auto;
}
.tool_btn {
    text-align: center;
    width: 192px;
    margin: 0 auto;
}
.tools_img {
    width: 1023px;
    margin: 0 auto 23px;
}

/* LOKAL ----------------------------------------------------------- */

.lokal_info {
    background-color: var(--background_label);
}
.lokal_cont {
    padding-top: 119px;
    padding-bottom: 162px;
}
.lok_box {
    width: 824px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}
.lok_box h2 {
    font-weight: 600;
    font-size: 65px;
    line-height: calc(75/65);
    margin-bottom: 29px;
}
.btn_black {
    display: inline-block;
    background-color: var(--color_text_basic);
    color: var(--background-white);
}
.lok_box p {
    margin-bottom: 56px;
}
/* FOOTER------------------------------------------------------------ */

.footer_top {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    line-height: 1.5;
    padding-top: 92px;
    padding-bottom: 95px;
    border-bottom: 1px solid var(--color_text_basic);
}
.case_link {
    text-align: start;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
}
.foot_menu ul {
    display: flex;
}
.foot_menu li>a {
    text-align: start;
    margin-bottom: 10px;
}
.foot_box_info {
    max-width: 33%;
    padding: 0 120px 0 28px;
}
.foot_box_info h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: calc(50/40);
    margin-bottom: 27px;
    margin-top: 0;
}
.foot_img {
    margin-bottom: 22px;
}
.foot_box_info p {
    margin-bottom: 18px;
}
.foot_menu li {
    max-width: calc(100% / 4);
    padding: 0 38px;
}
.foot_menu li>h4 {
    margin: 0 0 18px 0;
} 

/* F-BOTTOM -------------------------------------------------- */

.footer_buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 28px;
    font-size: 12px;
    line-height: 15px;
}
.foot_logo {
    display: flex;
}
.foot_logo a {
    padding-right: 13px;
}