 
$color_button: #FF6336;
$color_text_basic: #000;
$background-white: #fff;
$background_card: #FFF8E4;
$background_label: #FF9C7D;
$background_label_light: #DABC98;
$background_blue: #C9E8F2;
$grey: #ccc;