.radio_flex {
    display: none;

    @media (min-width: 992px) {
        display: block;
    }

}

.radio_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.label {
    width: 40%;
    text-align: right;
    border-right: 4px solid $hover-lang;
    padding-right: 60px;

}
.label__list {
    li {
        padding: 15px 0;
    }
}

.label_info {
    width: 60%;
    padding-left: 60px;
}