.hero {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 222px;
    padding-bottom: 220px;
    background-image: url(../images/solo-gitare.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;

    @media (min-width: 768px) {
        padding-top: 480px;
        padding-bottom: 480px;
    }

    @media (min-width: 992px) {
        padding-top: 367px;
        padding-bottom: 367px;
    }
    .title-page {
        font-size: xx-large;
        font-weight: 900;
        color: rgb(255, 61, 61);
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -150px;
        border: 10px solid $prime-color-red;
    }

}


.hero_cont {
    padding: 10px 50px;
    text-align: center;

}
.arrow {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid $prime-color-red;


    

    @media (min-width: 768px) {
        width: 34px;
        height: 34px;
    }
    @media (min-width: 992px) {
        width: 42px;
        height: 42px;
    }
    &:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-left: 2px solid $prime-color-red;
        border-bottom: 2px solid $prime-color-red;
        position: absolute;
        top: calc(50% - 5px);
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
        border: 2px solid $prime-color-red;
    }
}
