.brand_info {
    background-color: $background_label;
    padding-top: 108px;
    padding-bottom: 88px;
}

.companie_info {
    width: 720px;
    margin: 0 auto;
}

.companie_info h2 {
    margin-bottom: 82px;
}

.brand_logo ul {
    display: flex;
    justify-content: space-around;
}