.citate_info {
    background-color: $background_blue;
    padding-top: 34px;
    padding-bottom: 101px;
}
.citate_cont {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.citate_box {
    padding-left: 40px;
    font-size: 15px;
    line-height: calc(25/15);
}

.citate_box blockquote {
    font-size: 30px;
    line-height: calc(40/30);
    margin-left: 0;
    margin-bottom: 23px;
}
.foto_box {
    padding: 19px 40px 0 0;
}
.citate_box span {
    font-family: 'Roboto';
    display: block;
    margin-bottom: 6px;
}