.lokal_info {
    background-color: $background_label;
    padding-top: 50px;
    padding-bottom: 40px;
    
    @media (min-width: 992px) {
        padding-top: 119px;
        padding-bottom: 162px;
    }
}

.lok_box {
    max-width: 824px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;

    @media (min-width: 992px) {
        font-size: 20px;
    }

    h2 {
        font-weight: 600;
        font-size: 35px;
        line-height: calc(75/65);
        margin-bottom: 20px;
        
        @media (min-width: 992px) {
            font-size: 45px;
        }
        @media (min-width: 1200px) {
            font-size: 65px;    
            margin-bottom: 29px;
        }
    }
}

.btn_black {
    display: inline-block;
    background-color: $color_text_basic;
    color: $background-white;
}
.lok_box p {
    margin-bottom: 30px;

    @media (min-width: 1200px) {
    margin-bottom: 56px;

    }
}