.team_info {
    padding: 50px 0;
    @media (min-width: 992px) {
        padding: 155px 0 187px 0;
    }
}

.team_title {
    text-align: center;
    margin-bottom: 30px;

    @media (min-width: 992px) {
        margin-bottom: 75px;
    }
}
.team_card_box ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.teams_card li {
    width: 100%;
    padding: 0 10px 20px;
    text-align: center;

    @media (min-width: 992px) {
        max-width: 32%;
        padding-left: 42px;
        text-align: start;
    }
}
.team_card h4 {
    font-weight: 600;
    line-height: calc(40/30);
    font-size: 25px;
    margin-bottom: 30px;

    @media (min-width: 992px) { 
        font-size: 30px;
        margin-bottom: 32px;
    }
}
.team_card {
    font-size: 20px;
    line-height: 1.5;
}
.team_card a {
    display: inline;
    text-decoration: underline;
    font-size: 20px;
    line-height: 1.5;
}
.team_img img {
    vertical-align: middle;
}
.team_img {
    height: 200px;
    margin-bottom: 50px;
}
.team_card p {
    padding-bottom: 27px;
}