.tools_info {
    padding-top: 166px;
    padding-bottom: 160px;
    font-size: 25px;
    line-height: 1.2;
}
.tools_cont {
    text-align: center; 
}
.tools_title {
    padding: 0 320px;
    margin-bottom: 24px;
}
.tools_cont h2 {
    font-weight: 600;
    font-size: 65px;
    line-height: calc(75/65);
}
.btn_width {
    padding: 20px 16px;
    width: auto;
}
.tool_btn {
    text-align: center;
    width: 192px;
    margin: 0 auto;
}
.tools_img {
    width: 1023px;
    margin: 0 auto 23px;
}