.tools_info {
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 15px;
    line-height: 1.2;

    @media (min-width: 768px) {
    font-size: 20px;
        
    }

    @media (min-width: 1200px) {
        padding-top: 166px;
        padding-bottom: 160px;
        font-size: 25px;

    }
    
}
.tools_cont {
    text-align: center; 

    h2 {
        font-weight: 600;
        font-size: 35px;
        line-height: calc(75/65);
        margin-bottom: 10px;
        
        @media (min-width: 992px) {
            font-size: 45px;
        }
        
        @media (min-width: 1200px) {
            font-size: 50px;
        }
    }
}
.tools_title {
    padding: 0 40px;
    margin-bottom: 24px;

    @media (min-width: 1200px) {
        padding: 0 320px;
    }
}

.btn_width {
    width: auto;
    
    @media (min-width: 768px) {
        padding: 20px 16px;
    }

}
.tool_btn {
    text-align: center;
    width: 192px;
    margin: 0 auto;
}
.tools_img {
    max-width: 1023px;
    margin: 0 auto 23px;
}