a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    display: block;
    color: $color_text_basic;
    font-size: 15px;
    line-height: calc(20/15);
}
a:hover {
    transform: scale(1.1);
    text-shadow: 0 0 8px $background_label_light;
    color: $color_button;
}

.btn:hover, .btn_white:hover {
    background-color: $grey;
    color: $color_button;
}
.btn:hover {
    border: 1px solid $color_text_basic;
}

.btn {
    margin: 0;
    text-decoration: none;
    text-align: center;
    background-color: $color_button;
    color: $background-white;
    display: block;
    border: 1px solid transparent;
    font-size: 16px;
    line-height: calc(20/16);
    font-weight: 600;
    width: 130px;
    padding: 10px 0;
    
    @media (min-width: 768px) {
        padding: 12px 0;

    }
    @media (min-width: 992px) {
        
        width: 160px;
        padding: 18px 0;
    }
}
.btn_black {
    display: inline-block;
    background-color: $color_text_basic;
    color: $background-white;
}
.btn_white {
    font-weight: 600;
    color: $color_text_basic;
    background-color: $background-white;
    border: 1px solid $color_text_basic;
}

.btn_small {


    font-weight: 600;
    width: 100px;
    padding: 8px 0;
    font-size: 16px;
    line-height: calc(20/16);
    
    @media (min-width: 992px) {
        width: 120px;
        
    }
}

