h1 {
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: calc(70/65);

    @media (min-width: 576px) {
        font-size: 35px;
    }
    @media (min-width: 992px) {
        font-size: 45px;
    }

    @media (min-width: 992px) {
        font-size: 55px;
        margin-bottom: 45px;
    }

    @media (min-width: 1200px) {

        font-size: 65px;
        margin-bottom: 52px;
    }
}
h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;

    @media (min-width: 576px) {
        font-size: 35px;
    }

    @media (min-width: 992px) {
        font-size: 45px;
    }
    
    @media (min-width: 1200px) {
        font-size: 50px;
    }
}
h4 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}

.check_p,
.check_c,
.check_s,
.check_l {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
}