/* fonts----------------------------------------------- */
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    src: url(../fonts/Roboto-Medium.ttf);
    src: url(../fonts/Roboto-Bold.ttf);
}
/* CSS-змінні -----------------------------------------*/
:root {
    --color_discription: #333333;
    --background_head-foot: #efefef;
    --color_brand: #F13C6E;
    --background_white: #fff;
    --color_black: #000;
    --color_foot_list: #828282;
}



/* Загальні стилі------------------------------------------ */
body {
    font-family: 'Roboto';
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
h1 {
    margin: 0 0 40px;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: calc(56/48);
}
/* top_header ------------------------------------------------*/
.head_container {
    background-color: var(--background_head-foot);
}


.head_nav {
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
}
.nav_cont li {
    float: left;
    margin: 19px 11px 16px 19px;
}

.nav_cont h4,
a { 
    color: var(--color_discription);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    margin: 0;
}

/* middle_header ------------------------------------------*/

.head_logo_container {
    background-color: var(--background_white);
}
.logo_container {
    overflow: hidden;
}
.logo_box>a {
    float: left;
    padding: 19px 11px 0 25px;
}
.logo_box h2 {
    float: right;
    margin: 0;
    padding: 39px 0 0 9px;
}
.lg {
    color: var(--color_brand);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.1em;
}
.logo_box {
    float: left;
}

.telefon {
    float: right;
    padding: 40px 25px 0 0;
}
.telefon a {
    font-size: 16px;
    line-height: calc(19/16);
}

.telefon button {
    margin-left: 31px;
    padding: 10px 54px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    color: var(--color_black);
    background-color: var(--background_white);
    border: 2px solid var(--color_brand);
    border-radius: 40px;
}
/* bottom header --------------------------------------------------*/
.head_menu {
    background-color: var(--background_white);
}
.menu_nav {
    overflow: hidden;
    width: 700px;
    margin: 0 auto;
}
.nav_site a {
    font-size: 16px;
    line-height: calc(19/16);
}

.nav_site li {
    float: left;
    margin: 26px -17px 10px 57px;
}
/* MAIN ------------------------------------------------------------------- */

main a {
    padding: 10px 52px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--background_white);
    background-color: var(--color_brand);
    border-radius: 30px;
}
.label_sect {
    background-image: url(../images/back_sect.jpg);
    width: 100%;
    min-height: 604px;
    color: var(--background_white);
    
}
.container_body_chair {
    padding: 191px 0 0 50px;
}

.box_chair {
    width: 308px;
    font-size: 14px;
    line-height: calc(20/14);
}
.box_chair a {
    padding: 10px 67px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--background_white);
    background-color: var(--color_brand);
    border: 2px solid var(--background_white);
    border-radius: 40px;
}
.box_chair p {
    margin-bottom: 47px;
}
.page_sect {
    background-color: var(--background_head-foot);
}
/* Chair section ---------------------------------------------------------- */

.page_sect {
    padding-bottom: 78px;
}
/* ----------------------------- */
.container_body_list {
    padding: 80px 0 0 51px;
}
.container_body_list>h2 {
    margin: 0 0 39px 0;
}

.list_chair li {
    float: left;
    margin-right: 30px;
}
.card_box {
    overflow: hidden;
    width: 1160px;
}
.card {
    background-color: var(--background_white);
    width: 255px;
    padding: 25px 0 13px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(20/14);
    text-align: center;
}

.card img {
    margin-bottom: -1px;
} 
.card h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    margin: -1px 0 -2px 0 ;
}


/* Forms** ------------------------------------------------------------- */

.container_body_form {
    overflow: hidden;
    padding: 100px 0 0 25px;
}

.form_box {
    float: left;
    background-color: var(--color_brand);
    padding: 18px 0 0 40px;
}
.info_form {
    width: 270px;
    float: left;
    color: var(--background_white);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(20/14);
    margin: 0 46px 0 0;
}

.form_img {
    float: right;
    padding: 18px 43px 32px 0px;
}
.form_box_1 {
    margin-right: 30px;

}

.info_form h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(21/18);
    margin-bottom: 20px;
}

.info_form p {
    margin-bottom: 24px;
}
.info_form input {
    width: 200px;
    height: 34px;
    border-radius: 30px;
    background-color: var(--background_white);
    border: none;
    padding-left: 25px;
}
.info_form h2 {
    padding-bottom: 23px;
}
.info_form a {
    padding: 6px 48px;
    color: var(--background_white);
    background-color: var(--color_brand);
    border: 2px solid var(--background_white);
}
.car {
    margin: 20px 0 0 -48px;
}
/* table ------------------------------------------------------------- */

.container_body_table {
    padding: 100px 22px 0 22px;
}
table {
    border-collapse: collapse;
}
td {
    width: 278px;
    height: 116px;
    text-align: center;
    background-color: var(--background_white);
    border: 1px solid var(--background_head-foot);
}

table a {
    background-color: rgba(117, 190, 218, 0.0);
    margin: 0;
    padding: 0;
    border-radius: 0;
}

/* footer -------------------------------------------------------------- */
hr {
    margin: 0;
    height: 0px;
    color: var(--background_head-foot);
}
.container_list_foot {
    overflow: hidden;
    padding: 43px 0 50px 50px;
    
 }

.list_categories {
    float: left;
    width: calc(25% - 5px);
    
}

.list_categories h3 {
    margin: 0 0 25px 0;
    padding: 17px 0px 24px 0px;;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    border-bottom: 1px solid var(--background_head-foot);
}

.list_categories li {
    font-size: 12px;
    line-height: 28px;
    color: var(--color_foot_list);
}

/*  icon ------------------------------------------------------------ */

.foot_network {
    float: left;
    padding: 34px 0 37px 24px;
}

.soc_net {
    overflow: hidden;
}
.social li {
    float: left;
}

.icon {
    width: 45px;
    height: 45px;
    border: 1px solid var(--color_brand);
    border-radius: 50%;
    margin-right: 20px;
}


.icon h2 {
    margin: 9px; 
    text-align: center;
}
.icon a {
    font-size: 22px;
    color: var(--color_brand);
}
/*  bottomm footer---------------------------------------------- */

.foot_bottom {
    background-color: var(--background_head-foot);
}

.foot_cont {
    overflow: hidden;
    font-size: 12px;
    line-height: calc(14/12);
    color: var(--color_foot_list);
}

.box_foot_1 {
    float: left;
    padding: 14px 0 16px 24px;
}

.box_foot_2 {
    float: right;
    padding: 13px 24px 0 0;
}